/*'Baseline color palette'*/
:root {
  --bistre: #251605;
  --copper: #C57B57;
  --tumbleweed: #F1AB86;
  --lightochre: #F7DBA7;
  --pewter: #9CAFB7;
}

/* Adjusted header to set format of links to the left */
header{
  font-family: 'Bad Script', cursive;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1%;
  background-color: var(--bistre);
  color: var(--pewter);
}

body {
  font-family: 'Amatic SC', cursive;
  font-size: 120%;
  font-weight: bolder;
  
}

html {
  /* background-image: url(../images/Old-Notebook.jpg); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.row {
  display: flex;
  justify-content: space-between;
  margin: 10px auto;
}


.playlist-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 10px;
  font-size: 32px;
}

.playlistCard-header {
  display: flex;
  flex-wrap: wrap;
}

.card {
  display: flex;
  flex-direction: column;
  margin: 10px;
  align-items: center;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Button class for the nav button in the header */
.btn {
  color: white;
  background-color: unset;
  height: 60px;
  width: 90px;
  padding: 2px;
  text-decoration: none;
}

/* nav class */
.nav {
  background-color: unset;
  overflow: auto;
  justify-content: end;
}

/* Increasing header font size */
header h1 {
  font-size: 200%;
}

/* Coloring links */
.one {
  color: green;
}

.two {
  color: red;
}

.three {
  color: blue;
}

.four {
  color: purple;
}

.five {
  color: yellow;
}

.six {
  color: orange;
}

.bg {
  position: fixed; 
  top: -50%; 
  left: -50%; 
  width: 200%; 
  height: 200%;
  z-index: -1;
}
.bg img {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
  filter: blur(3px);
  -webkit-filter: blur(3px);
}

#page-wrap{
  position: relative;
  z-index: 2;
}

.skeleton-card {
  background-color: white;
  opacity: .7;
  animation: skeleton-card-loading 1s linear infinite alternate;
  display: flex;
  flex-direction: column;
  margin: 10px;
  align-items: center;
}

.skeleton-card-text {
  height: .5rem;
  width: 250px;
  margin-bottom: .25rem;
  border-radius: .125rem;
}

@keyframes skeleton-card-loading {
  0% {
    background-color: hsl(200, 20%, 70%);
  }

  100% {
    background-color: hsl(200, 20%, 95%);
  }
}

.skeleton-card-template {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  padding: 16px;
  border-radius: 4px;

  display: flex;
  flex-direction: column;
  margin: 10px;
  align-items: center;
}

.skeleton-card-img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin-right: 1rem;
  flex-shrink: 0;
}

